body {
    font-family: Arial, sans-serif;
    color: #4a4a4a;
    background-color: #d6efed; /* Soft Seafoam Green background */
    width: 100%;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }

  .landing-page section {
    margin-bottom: 9rem;
  }

  .landing-page section p {
    font-size: 1.25rem;
    color: black;
  }


  .header {
    background-color: #243a73; /* Deep Navy Blue */
    color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease;
  }
  
  .header h1 {
    font-size: 2.5rem;
  }
  
  .header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #d6efed; /* Softened contrast for description text */
  }
  
  .main-content {
    max-width: 800px;
    width: 100%;
  }
  
  .section {
    padding: 1.5rem;
    border-radius: 8px;
    background: #f5f5f5; /* Light Slate Gray */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .section:hover {
    transform: translateY(-5px);
  }
  
  /* Principles section */
  
  .principles-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .principle {
    flex: 1 1 calc(50% - 1rem);
    min-width: 200px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .principle:hover {
    transform: scale(1.05);
  }
  
  .principle h3 {
    color: #243a73; /* Navy Blue for headers */
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  /* CTA Buttons */
  .cta-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #243a73; /* Deep Navy Blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #1b2d5a; /* Darker navy for hover effect */
  }
  
  /* Contact Section */
  .landing-page .contact-section {
    padding: 2rem;
    border-radius: 10px;
    background-color: black; 
    /* maybe a bit lighter */
  }
  
  .landing-page .contact-section p {
    color: white;
  }